:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(#798601);
  transform: scale(1.05);
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* Newsletter Signup Box */
.newsletter-signup {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.newsletter-signup h3 {
  margin-bottom: 10px;
}

.newsletter-signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-signup input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.newsletter-signup button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-signup button:hover {
  background-color: #45a049;
}


/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

/* Product Filter */
.filter-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 250px;
}

.filter-box label {
  font-size: 1rem;
  margin-right: 10px;
}

.filter-box select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.filter-box select:hover {
  border-color: #888;
}

.filter-box select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Main Product List Page */
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

.products-statement {
  margin: 0 auto;
  max-width: 500px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none; 
  padding: 0;
}

.product-grid li {
  text-align: center;
}

.product-grid img {
  max-width: 100px; 
  height: 100px; 
}

.product-grid h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

.product__discount {
  font-weight: bold;
  color: red;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
  margin-right: 15px;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.remove-item {
  grid-row: 1;
  grid-column: 4;  
  position: relative;
  padding: 0.25em 0.5em;
  bottom: 8px;
  margin-left: 5px;
  background-color: #525b0f; 
  border: none;      
  font-size: 1em;   
  cursor: pointer; 
  color: white;
  transition: all 0.3s ease;   
}

.cart-footer .cart-total {
  font-size: 1em; 
  font-weight: bold;
  margin-right: 20px;
  
}

.remove-item:hover {
  background-color: #6b7600; 
  transform: scale(1.1); 
}

.checkout-button {
  background-color: var(--secondary-color); 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
}

.checkout-button:hover {
  opacity: 90%;
}

.hide {
  display: none;
}

.cart-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid var(--primary-color);
  font-size: var(--large-font);
}

.quantity-input {
  width: 40px; 
  text-align: center; 
}

.search-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.search-container button {
  font-size: var(--small-font);
  padding: .1rem .5rem;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 5px;
}

.checkout h2 {
  text-align: center;
}

.checkout-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.checkout-form fieldset {
  margin-bottom: 20px;
  border: none;
  padding: 0;
}

.checkout-form legend {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.checkout-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.checkout-form button[type="submit"] {
  display: block;
  width: 50%;
  padding: 12px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-form button[type="submit"]:hover {
  opacity: 90%;
}

/* Styling for the order summary section */
#order-summary {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#order-summary h3 {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: bold;
}

#order-summary p {
  font-size: 1em;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#order-summary span {
  font-weight: 600;
}

.required {
  color: red;
  margin-left: 4px;
}

#order-message {
  display: none; 
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

#order-message.success {
  background-color: green;
  color: white;
}

#order-message.error {
  background-color: red;
  color: white;
}

.back-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-home:hover {
  opacity: 90%;
}

.alert {
  position: relative; 
  padding: .5rem;
  margin: 1rem 0;
  border-radius: 5px;
  width: 50%;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: white; 
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-alert {
  position: absolute;
  right: 1rem;
  background-color: black;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  padding: 3px 5px;
}

.close-alert:hover {
  color: white; 
}

.alert {
  transition: opacity 0.3s ease-in-out;
}



@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

@media (max-width: 500px) {
  .divider img {
    max-width: 80%;
    margin: 0 auto;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
